.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.dino-header {
  font-size: 2em;
  margin-bottom: 0;
}

.dino-description {
  font-size: 1.1em;
}

.dino-button {
  margin: 8px
}

.dino-header {
  margin-bottom: 8px;
}

.dino-list {
  margin-top: 0;
  display: inline-block;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
